@{
    ViewBag.Title = "Project Central";
}

<div class="text-center">
    <h1 class="display-4">Kai Schellin Sites</h1>
</div>
@if (!ViewBag.SignedIn)
{
    <a asp-action="Login" class="btn btn-outline-dark m-3">Log in</a>
    <a asp-action="Register" class="btn btn-outline-dark m-3">Register</a>
}
else
{
    <a asp-action="Logout" class="btn btn-outline-dark m-3">Log out</a>
}

<div class="mt-5">
    <a asp-controller="Dummy" asp-action="AttribRoute" class="mr-2">Attribute Route</a>
    <a asp-controller="Dummy" asp-action="CustRoute" asp-route-ree="CUSTOM-string" class="mr-2">Custom Route</a>
    <a asp-controller="Dummy" asp-action="DefRoute" class="mr-2">Default Route</a>
</div>