@{
    ViewBag.Title = "Project Central";
}

<div class="text-center">
    <h1 class="display-4">Kai Schellin Sites</h1>
</div>
<a asp-action="Login" class="btn btn-outline-dark m-3">Login</a>
<a asp-action="Register" class="btn btn-outline-dark m-3">Register</a>
