@model List<Contact>
@{
    ViewBag.Title = "Contacts Home";
}

    <form asp-action="Index" method="post">
        <div style="background-color: #F0F0F0; border-radius: 10px" class="container mt-5">
            <div class="row justify-content-center">
                <a asp-controller="Contacts" asp-action="Add" style="" class="btn btn-primary col-5 align-self-center mt-5 pt-1 pb-1">Add Contact</a>
            </div>
            @foreach (Contact contact in Model)
        {
            <div class="row m-5 ContactOutline p-3">
                <span class="col-md-1 ContactText mt-2">@contact.Name</span>
                <span class="col-md-2 ContactText mt-2">@contact.PhoneNumber</span>
                <a asp-controller="Contacts" asp-action="Edit" asp-route-id=@contact.ID class="col-md-2 btn btn-light m-2">EDIT</a>
                <a asp-controller="Contacts" asp-action="Delete" asp-route-id=@contact.ID class="col-md-2 btn btn-light m-2">DELETE</a>
                <a asp-controller="Contacts" asp-action="Detail" asp-route-id=@contact.ID class="col-md-2 btn btn-light m-2">VIEW DETAILS</a>
            </div>
        }
            <div class="row p-5"></div>
        </div>
        <div class="row p-5"></div>
    </form>
