@model Ticket
@{
    ViewBag.Title = "Add ticket";
    Layout = "_Ticketlayout";
}

    <form asp-action="Add" method="post">
        <div style="margin-left: 30%; width:65vw" class="container text-center">
            <div class="row">
                <h1 class="form-text col">Add ticket</h1>
            </div>
            <div class="row mt-5">
                <div class="col-12 text-left"><span class="text-danger" asp-validation-for="Name"></span></div>
                <div class="col-md-3 text-left">
                    <label class="form-text m-2">Ticket Name:</label>
                </div>
                <div class="col-md">
                    <input class="form-control" asp-for="Name" />
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 text-left"><span class="text-danger" asp-validation-for="PointValue"></span></div>
                <div class="col-md-3 text-left">
                    <label class="form-text m-2">Ticket Value:</label>
                </div>
                <div class="col-md">
                    <input class="form-control" asp-for="PointValue" />
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 text-left"><span class="text-danger" asp-validation-for="Description"></span></div>
                <div class="col-md-3 text-left">
                    <label class="form-text m-2">Ticket Description:</label>
                </div>
                <div class="col-md">
                    <textarea class="form-control pb-5" asp-for="Description"></textarea>
                </div>
            </div>
            <div class="row mt-5">
                <button style="border-radius:15px" class="btn btn-primary p-2 col-12" type="submit">Submit</button>
            </div>
        </div>
        <input type="hidden" asp-for="SprintNumber" value="0" />
        <input type="hidden" asp-for="Status" value="0" />
    </form>
    